BaseURLToken = "url-to-mc-payment-api"
XSignKey = "your-sign-key"
ReturnURL = "https://google.com"
RegisteredID = "registered ID for unit test" #do manual to register first as it as not implementing the web automation yet
RegisteredToken = "3f235e3648b337d835312f7f0450868bd664015477e280ac971d4523ad5e95e8" #do manual to register first as it as not implementing the web automation yet